<footer id="footer" class="overflow-hidden ft">
    <div class="container">
        <div class="row">
            <div class="footer-top-area">
                <div class="row d-flex flex-wrap justify-content-between">
                    <div class="col-lg-2-1 col-sm-6 pb-3">
                        <div class="footer-menu">
                            <img src="/images/main-logo.png" class="logo" alt="chua">
                            <p> Chúng tôi tin rằng bạn sẽ yêu thích điện thoại này ngay từ lần đầu tiên bạn cầm nó vào tay. Hãy đến cửa hàng của chúng tôi để trải nghiệm sản phẩm này và cùng chúng tôi khám phá thế giới công nghệ mới mẻ!
                            </p>
                            <div class="social-links">
                                <ul class="d-flex list-unstyled">
                                    <li>
                                        <a href="#">
                                            <svg class="facebook">
                          <use xlink:href="#facebook" />
                        </svg>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <svg class="instagram">
                          <use xlink:href="#instagram" />
                        </svg>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <svg class="twitter">
                          <use xlink:href="#twitter" />
                        </svg>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <svg class="linkedin">
                          <use xlink:href="#linkedin" />
                        </svg>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <svg class="youtube">
                          <use xlink:href="#youtube" />
                        </svg>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-sm-6 pb-3">
                        <div class="footer-menu text-uppercase">
                            <h5 class="widget-title pb-2">Đường dẫn nhanh</h5>
                            <ul class="menu-list list-unstyled text-uppercase">
                                <li class="menu-item pb-2">
                                    <a href="#">Trang Chủ</a>
                                </li>
                                <li class="menu-item pb-2">
                                    <a href="#">Thông Tin</a>
                                </li>
                                <li class="menu-item pb-2">
                                    <a href="#">Cửa hàng</a>
                                </li>
                                <li class="menu-item pb-2">
                                    <a href="#">Blogs</a>
                                </li>
                                <li class="menu-item pb-2">
                                    <a href="#">Liên Hệ</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2-1 col-sm-6 pb-3">
                        <div class="footer-menu text-uppercase">
                            <h5 class="widget-title pb-2">Trợ giúp & Thông tin Trợ giúp</h5>
                            <ul class="menu-list list-unstyled">
                                <li class="menu-item pb-2">
                                    <a href="#">Theo dõi đơn hàng của bạn</a>
                                </li>
                                <li class="menu-item pb-2">
                                    <a href="#">Chính sách hoàn trả</a>
                                </li>
                                <li class="menu-item pb-2">
                                    <a href="#">Liên hệ chúng tôi</a>
                                </li>
                                <li class="menu-item pb-2">
                                    <a href="#">Câu hỏi thường gặp</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2-1 col-sm-6 pb-3">
                        <div class="footer-menu contact-item">
                            <h5 class="widget-title text-uppercase pb-2">Liên hệ chúng tôi</h5>
                            <p>Bạn có bất kỳ thắc mắc hoặc gợi ý nào không?<a href="mailto:">baominhstore354@gmail.com</a>
                            </p>
                            <p>Nếu bạn cần hỗ trợ? Hãy gọi cho chúng tôi. <a href="" id="callA">+0833 354 354</a>
                            </p>
                            <p>Địa chỉ: <a href="https://www.facebook.com/baominhstorehanoi" id="">354 Trường Chinh, Đống Đa, Hà Nội.</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
</footer>
<div id="footer-bottom" class="text-center">
    <div>
        <div class="copyright">
            <div style="font-size: 20px; padding-bottom: 10px">
                Cửa hàng Bảo Minh Mobile Mã số thuế: 8317619629 Giấy phép đăng ký kinh doanh số: 01E8035612
            </div>
        </div>
    </div>
</div>
</div>
</div>