<%- include('../include/header.ejs') %>
    <div class="container">
        <h2>
            <a href="/main"><img style="width: 35px;" src="https://cdn-icons-png.flaticon.com/512/25/25694.png"></a>
            sửa màu sắc</h2>

        <form action="/putmausac/<%= idmausac %>/<%= idungluong %>" method="post">

            <br>
            <label class="form-label">Tên màu sắc</label>
            <input type="text" name="name" class="form-control" value="<%= mausac.name %>"><br>
            <button class="btn btn-danger" type="submit">Lưu</button>
        </form>
    </div>