<!DOCTYPE html>
<html>

<head>
    <title>BẢO MINH STORE</title>
    <meta charset="utf-8">
    <meta name="google-site-verification" content="nXHafPjzQbcCTlbBFFc2qAA5CB95CzOEyv7uDEGgbpk" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="author" content="">
    <meta name="keywords" content="">
    <meta name="description" content="Cung cấp iphone chính hãng giá rẻ tại Hà Nội, Sửa chữa bảo hành miễn phí">

    <link rel="shortcut icon" type="x-icon" href="/images/banner-image1.png">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <!-- Google tag (gtag.js) -->

    <style>
        @media only screen and (max-width: 700px) {
            .nav-search {
                display: block;
            }
            .dialog-overlay {
                position: fixed;
                top: 0;
                left: 0;
                width: 130%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.5);
                display: none;
                justify-content: center;
                align-items: center;
                z-index: 20;
            }
            .dialog-content {
                margin-top: 10%;
                margin-left: 7%;
                margin-right: 3%;
                background-color: white;
                padding: 20px;
                border-radius: 10px;
                max-width: 62%;
                text-align: center;
            }
            .dialog-buttons {
                margin-top: 20px;
            }
        }
        
        @media only screen and (min-width: 701px) {
            .nav-search {
                display: none;
            }
            .dialog-overlay {
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.5);
                display: none;
                justify-content: center;
                align-items: center;
                z-index: 20;
            }
            .dialog-content {
                margin-top: 10%;
                margin-left: auto;
                margin-right: auto;
                background-color: white;
                padding: 20px;
                border-radius: 10px;
                max-width: 400px;
                text-align: center;
            }
            .dialog-buttons {
                margin-top: 20px;
            }
        }
    </style>
    <!-- Google Tag Manager -->
    <script>
        (function(w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(),
                event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-KB5DNX5V');
    </script>
    <!-- End Google Tag Manager -->
    <!-- link icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-16700715907"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'AW-16700715907');
    </script>
    <!-- script
    ================================================== -->
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KB5DNX5V" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <%- include('../include/header2.ejs') %>

        <section class="hero-section position-relative bg-light-blue padding-medium">
            <div class="hero-content">
                <div class="container">
                    <div class="row">
                        <div class="text-center padding-large no-padding-bottom">
                            <h1 class="display-2 text-uppercase text-dark">Mua Ngay</h1>
                            <div class="breadcrumbs">
                                <span class="item">
                                <a href="/">Trang chủ ></a>
                            </span>
                                <span class="item">Mua Ngay</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="contact-us padding-small">
            <div class="container">
                <div class="align-items-center">
                    <div class="inquiry-item">
                        <h2 class="display-7 text-uppercase text-dark">Thông Tin Liên Hệ Khách Hàng</h2>
                        <p>Sử dụng bảng ở dưới để gửi yêu cầu mua hàng</p>
                        <form id="form" class="form-group flex-wrap" method="post" action="/postnotify">
                            <div class="form-input col-lg-12 mb-3 d-flex">
                                <div class="form-control ps-3 mb-3 border-0 no-padding-left">
                                    <input type="text" name="tenkhach" placeholder="Nhập tên của bạn" class="form-control ps-3 me-3 mb-4" required>
                                    <input type="text" name="email" placeholder="Nhập email của bạn" class="form-control ps-3 mb-4" required>
                                    <input type="text" name="phone" placeholder="Số điện thoại" class="form-control ps-3 mb-4 me-3" required>
                                    <input type="text" name="address" placeholder="Địa chỉ" class="form-control ps-3" required>
                                </div>
                                <div class="form-control ps-3 mb-3 pb-0">
                                    <p class="text-black mt-4 mb-3">Thông tin sản phẩm</p>
                                    <input type="text" name="tensp" placeholder="Tên sản phẩm" value="<%= spjson.name %>" class="form-control ps-3 me-3 mb-4 " readonly>
                                    <input type="text" name="price" placeholder="giá" value="<%= spjson.price %>" class="form-control ps-3 " readonly>
                                </div>

                            </div>
                            <button onclick="showSuccessDialog()" class="btn btn-dark btn-medium text-uppercase btn-rounded-none">Gửi</button>
                            <div id="successDialog" class="dialog-overlay">
                                <div class="dialog-content">
                                    <h2>Thành công!</h2>
                                    <p class="text-black">Đơn hàng đang đợi xét duyệt</p>
                                    <p class="text-black">Chúng tôi sẽ liên hệ lại với bạn sớm nhất</p>
                                    <div class="dialog-buttons">
                                        <p>Vui lòng đợi 3s để chuyển hướng đến trang chủ</p>
                                    </div>
                                    <div class="dialog-button">
                                        <button onclick="hideDialog()" class="btn btn-secondary btndong">Đóng</button>
                                    </div>
                                </div>
                            </div>
                        </form>



                    </div>
                </div>
            </div>
        </div>


        <%- include('../include/footer2.ejs') %>
            <script>
                function prepareMailto() {
                    // Lấy giá trị từ thẻ textarea
                    var message = document.getElementById("message").value;

                    // Tạo liên kết mailto với nội dung từ textarea
                    var mailtoLink = "mailto:traz08102003@gmail.com?subject=Yêu%20cầu%20liên%20hệ&body=" + encodeURIComponent(message);

                    // Mở liên kết mailto
                    window.location.href = mailtoLink;
                }
            </script>
            <script>
                function showSuccessDialog() {
                    // Hiển thị dialog thành công
                    var dialog = document.getElementById('successDialog');
                    dialog.style.display = 'block';
                }

                function hideDialog() {
                    // Ẩn dialog
                    event.preventDefault();
                    var dialog = document.getElementById('successDialog');
                    dialog.style.display = 'none';
                }
            </script>
            <script>
                function makeCall() {
                    event.preventDefault();
                    // Thay đổi số điện thoại dưới đây bằng số điện thoại thực tế
                    var phoneNumber = "0833354354";

                    // Kiểm tra xem trình duyệt có hỗ trợ gọi điện không
                    if ("contacts" in navigator && "ContactsManager" in window) {
                        // Sử dụng API Contacts để gọi điện
                        navigator.contacts.select(["phone"]).then(contacts => {
                            // Gọi điện đến số điện thoại đã được chỉ định
                            contacts.forEach(contact => {
                                contact.phoneNumbers.forEach(phone => {
                                    if (phone.value === phoneNumber) {
                                        contact.pick();
                                    }
                                });
                            });
                        });
                    } else {
                        // Mở giao diện gọi điện của trình duyệt
                        window.location.href = "tel:" + phoneNumber;
                    }
                }
                document.addEventListener("DOMContentLoaded", function() {
                    const callA = document.getElementById("callA");

                    if (callA) {
                        callA.addEventListener("click", makeCall);
                    }
                });
            </script>
            <script src="js/jquery-1.11.0.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
            <script type="text/javascript" src="js/bootstrap.bundle.min.js"></script>
            <script type="text/javascript" src="js/plugins.js"></script>
            <script type="text/javascript" src="js/script.js"></script>
</body>

</html>